:root {
    --background: #fdf9f3;
    --background-accent: #3D3D3D;
    --settings-size: 3.75rem;
    --accent-colour: #F9EDDC;
    --text-colour: #292929;
    --border: 0.06rem solid #525252;
    --border-radius: 0.5rem;
    --speed: 500ms;
    --button-size: 3.75rem;
}

a {
    -webkit-transition: .3s;
    transition: .3s;
    text-decoration: none;
    color: var(--background-accent);
}

.bpm-value {

    text-align: center;
    font-size: 4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

body {

    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--background);

}

button {

    background-color: transparent;
    border-color: var(--background-accent);
}

/*TODO change hover colour*/
button:hover {
    background-color: var(--accent-colour);
}

.button-row {
    display: -ms-grid;
    display: grid;
    place-content: center;
}

.button-group {
    display: -ms-flex;
    display: flex;
    place-content: center;

}

.button-icon {
    pointer-events: none;
}

.circle {

    /*text-align: center;*/
    margin: 0 3rem 2rem 2rem;
    height: 2rem;
    width:  2rem;
    border: var(--border);
    border-radius: 50%;
    display: inline-block;

}

.circle-button {
    min-width: 3rem;
    place-content: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    transition: all 0.3s linear;
    margin: 1.5rem 1.5rem 0 1.5rem;
    border-color: var(--background-accent);
}

.container {

    -webkit-transition: .2s;
    transition: .2s;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
}

.dropdown {
    position: relative;
    border: 0.125rem solid #525252;
    vertical-align: -2px;
    border-radius: 0.2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;

}

.dropdown-item {

    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding-top: 0.5rem;

}

.dropdown-item-button:hover {
    background-color: #FCF6EE;
    transition: all 0.4s linear;
}

.dropdown-item-button {

    font-size: 1rem;
    background-color: var(--accent-colour);
    border: transparent;
    vertical-align: -2px;
    border-radius: 0.2rem;
    height: 2.5rem;
    min-width: 90%;
}

.dropdown-active-button {

    border: 0.15rem solid #525252;
}

.fill {
    background-color: var(--background-accent);
}

footer {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
}

.icons {
    vertical-align: -0.175rem;
}

.hollow-button {

    min-width: 3rem;
    place-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: -ms-grid;
    display: grid;
    transition: all 0.3s linear;
    border: transparent;
    font-size: 30px;
}

.main {

    margin-bottom: 30%;
}

.metronome-title {

    position: absolute;
    text-align: center;
}

nav {

    text-align: right;
    margin-top: 2rem;
}

.settings-button {
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
    font-size: 1.8rem;

}

.settings-button:hover {

    transform: rotateZ(90deg);
}

.settings-button, .settings-button:visited, .settings-button:active {
    color: inherit;
}

.tempo-button {
    min-width: 15rem;
    place-content: center;
    height: 3rem;
    border-radius: 1rem;
    display: -ms-grid;
    display: grid;
    transition: all 0.3s linear;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.tempo-label {
    margin-top: 1rem;
    font-size: 25px;
    color: #707070;
}

ul {

    list-style-type: none;
}

.visualiser {

    text-align: center;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: calc(100vh - 10rem);

    padding: 2rem;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media only screen and (min-width: 992px) {
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 2561px ) {
    .dropdown-main {
        padding-left: 85%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 2560px ) {
    .dropdown-main {
        padding-left: 85%;
        margin-top: 0;
    }
}

@media only screen and (max-width: 1440px ) {
    .dropdown-main {
        padding-left: 70%;
    }
}

@media only screen and (max-width: 1024px ) {

    .circle{
        margin: 0 1.5rem 0.5rem 1.5rem;
    }

    .dropdown-main {
        padding-left: 55%;
    }


}

@media only screen and (max-width: 768px ) {
    .dropdown-main {
        padding-left: 70%;
    }
}

@media only screen and (max-width: 425px ) {

    .circle{
        margin: 0 0.5rem 0.5rem 0.5rem;
    }

    .dropdown-main {
        padding-left: 35%;
    }

    .tempo-button {
        min-width: 12rem;
    }
}

@media only screen and (max-width: 375px ) {
    .dropdown-main {
        padding-left: 20%;
    }
}

@media only screen and (max-width: 320px ) {

    .circle-button {
        margin: 1.5rem 1rem 0 1rem;
    }

    .dropdown-main {
        padding-left: 0;
    }

    .tempo-button {
        min-width: 10rem;
    }
}



